* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sens-serif;
}

body {
    /* max-width: 1440px; */
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    margin: auto;
}

.container {
    width: 380px;
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(113, 115, 119, 0.5);
}

input {
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

button:hovre {
    border-radius: 50%;
}

.equalBtn {
    background: #fb7c14;
}

.operator {
    color: #6dee0a;
}